{
  "extends": ["plugin:prettier/recommended", "airbnb-typescript/base"],
  "plugins": ["prettier"],
  "rules": {
    "prettier/prettier": "error",
    "class-methods-use-this": "off"
  },
  "env": {
    "node": true
  },
  "parserOptions": {
    "project": "./tsconfig.json"
  }
}
